<h1>Add a new PROJECT</h1>

<form action="/projects" method="post">
  <div class="form-group">
    <label for="Project Name">Project Name</label>
    <input id="n" name="Project Name" class="form-control" type="text" required>
  </div>
  <button type="submit" class="btn">Add Project</button>
</form>
