<h1>I'm talkin PROJECTS</h1>

<a href="/projects"><p class="btn-lg btn-primary">All PROJECTS</p></a>


<form action="/projects">
  <div class="form-group row">
    <label for="search" class="col-sm-2 col-form-label col-form-label-lg"></label>
    <div class="col-sm-4">
      <input id="search" name="search" class="form-control form-control-lg" type="text" placeholder="Search">
    </div>
    <div class="col-sm-4">
      <button type="submit" class="btn btn-primary">Search</button>
    </div>
    <label for="search" class="col-sm-2 col-form-label col-form-label-lg"></label>

  </div>
</form>

<% if @projects.any? %>
<ul>
  <% @projects.each do |project| %>
  <li><a href="/projects/<%= project.id %>"><%= project.name %></a></li>
  <% end %>
</ul>
<% else %>
<p>There are currently no PROJECTS to display.</p>
<% end %>

<a href="/projects/new">Add a new PROJECT</a>
